__pycache__/
.replit
replit.nix
.pythonlibs/
.upm/
poetry.lock
pyproject.toml
NEDVIG.py
.env
filters/__pycache__/
handlers/__pycache__/
db/__pycache__/
data/__pycache__/
keyboard/__pycache__/
middleware/__pycache__/
utils/__pycache__/
.gitignore
tags
